net:
  port: 27017
operationProfiling: {}
processManagement:
  fork: "false"
sharding:
  configDB: {{ mongodb_mognos_config_relicaset_name ~ "/" ~ mongodb_mongos_config_servers | join(",") if mongodb_mongos_config_servers_replicaset else mongodb_mongos_config_servers | join(",") }}
systemLog:
  destination: file
  path: {{ mongodb_mongos_log_path }}
  logRotate: reopen
  logAppend: true
